container_commands:
  collectstatic:
    command: "python manage.py collectstatic --noinput"
  01makemigrations:
    command: "python manage.py makemigrations --noinput"
    leader_only: true
  02migrate:
    command: "python manage.py migrate"
    leader_only: true

option_settings:
    - namespace: aws:elasticbeanstalk:container:python
      option_name: WSGIPath
      value: tempmed3Dmod/wsgi.py
    - option_name: DJANGO_SETTINGS_MODULE
      value: tempmed3Dmod.settings
