{% extends "base.html" %}

{% block title %}


{% endblock %}

{% block content %}

		<!-- Header -->
	

<div class="container">

				<header class="major">
					<h3>User: {{user.username}}</h3>

				</header>





					<hr class="major" />
					<div class="row">
					
						<div class="col-md-6">

								<h4>Upload your medical images or models</h4>
								 <a href="/main/upload" type="button" class="btn btn-default">Upload</a>

						</div>
						<div class="col-md-6">


								<h4>Browse through your files</h4>
								 <a href="/main/files/" type="button" class="btn btn-default">Browse</a>

						</div>
                        </div>
                        <div class="row">
                        <div class="col-md-6">

	                            <h4>View two different models to compare features</h4>
                                <a href="/main/comptwo/" type="button" class="btn btn-default">Compare two models</a>


						</div>
					
						<div class="col-md-6">

                            <h4>View four different models to compare features</h4>
                            <a href="/main/compfour/" type="button" class="btn btn-default">Compare four models</a>


						</div>
					</div>
             <div class="row">
                        <div class="col-md-6">


								<h4>Order a 3D printed model</h4>
								 <a href="/main/order" type="button"  class="btn btn-default">Order</a>

						</div>

						<div class="col-md-6">




						</div>
					</div>
             <div class="row">
                        <div class="col-md-6">




						</div>

						<div class="col-md-6">




						</div>
             </div>
</div>


{% endblock %}