{% extends "base.html" %}

{% block title %}


{% endblock %}

{% block content %}

	<!-- Header -->


    




		<section id="m" class="wrapper style1">
				<header class="major">
					<h3>User: {{user.username}}</h3>
					
				</header>
			
				<div class="container">
				
				
					
					<hr class="major" />
					<div class="row">
				
						<div class="6u">
						<h3>Medical images list</h3>
				
							<section class="special box">
								{% if lista %}
					{% for imgcontainer in lista %}
								
								<h3>File:{{imgcontainer.file}}</h3>
								<ul class="actions">
									<li><a href="/main/order" class="button alt">Add to cart </a></li>
								
									
								</ul>
							
							
								{% endfor %}
				{% else %}
					<p>No medical images</p>
				{% endif %}
							
							</section>
						
				
				
					
					</div>
					
					
				
						<div class="6u">
						<h3>Model list</h3>
				
							<section class="special box">
								{% if lista2%}
								{% for model in lista2 %}
								<h3>File: {{model.model_file}}</h3>
								<ul class="actions">
									<li><a href="/main/order" class="button alt">Add to cart</a></li>
								
									
								</ul>
							
								{% endfor %}
				{% else %}
					<p>No models</p>
				{% endif %}
							
							</section>
						
				
				</div>
					</div>
				</div>
			
			</section>

{% endblock %}